*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --bitconin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --Secondary-blue: #1A9AF7;
    --sonft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --wamr-black1:#282623;
    --grey: #BABABA;
    --oft-white:#FAF8F7;
    --just-white: #FFFFFF;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    height: 334px;
    text-align: center;
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.container-header{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 50px;
    text-align: center;
    align-self: center;
}
.container-header h1{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 24px;
    line-height: 2.6rem;
    color: var(--just-white);
}
.container-header p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
    color: var(--soft-orange);
}
.container-header .header-button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    background-color: var(--oft-white);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}
.header-button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
}
main{
    width: 100%;
    height: fit-content;
    background-color: var(--oft-white);
}
.container-primer-section{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.container-primer-section--img-bitcoin{
    width: 195px;
    height: 195px;
    margin: 0 auto;
    background-image: url('../assets/img/bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container-primer-section--table{
    align-items: center;
}
.container-primer-section--text{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 40px auto;
}
.container-primer-section--text h2{
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}
.container-primer-section--text p{
    margin-bottom: 24px ;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter";
}
.main-currency-table .currency-table-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitconin-orange);
}
.currency-table-container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 230px;
    margin: 0 auto;
}
.currency-table-container table{
    width: 100%;
    height: 100%;
    text-align: initial;
}
.currency-table-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
    padding: 10px;
}
.table__top-left{
    border-radius: 15PX 0 0 0;

}
.table__top-right{
    border-radius: 0 15px 0 0;
}
.table__bottom-left{
    border-radius: 0 0 0 15px;
}
.table__bottom-right{
    border-radius: 0 0 15px 0;
}
.table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    text-align: center;
}
.currency-table-container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(../assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(../assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--date{
    width: 190px;
    height: fit-content;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
    
}
.currency-table--date p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--wamr-black1);
}
.main-commissions-table{
    margin-top: 40px;
}
.commissions-title{
    font-weight: 700;
    font-family: "Inter";
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: var(--Secondary-blue);
}
.commissions-table-container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 230px;
    margin: 0 auto;
}
.commissions-table-container table{
    width: 100%;
    height: 100%;
    text-align: initial;
}
.commissions-table-container td{
    font-size: 1.6rem;
    font-family: "Inter";
    font-weight: 500;
    padding: 10px;
    background-color: var(--just-white);
    color: var(--grey);
}
.commissions-table--date{
    width: 190px;
    height: fit-content;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 8px;
    background-color: var(--soft-orange);

}
.commissions-table--date p{
    font-family: "Inter";
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    padding: 8px;
    color: var(--wamr-black1);
}
.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);   
}
.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    left: calc(50% - 20px);
    top: -1.5%;
    background-image: url(../assets/icons/batata.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    font-family: "DM Sans";
    color: var(--just-white);
}
.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    font-family: "DM Sans";
    color: #808080;
}
.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: auto;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--wamr-black1);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/clock.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.eye{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/eye.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.dollar{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/dollar-sign.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.check{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/check-circle.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-family: "DM Sans";
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product--card-body{
    font-size: 1.4rem;
    font-family: "DM Sans";
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.img-conocelohoy-container{
    width: 100%;
    min-width: 320px;
    height: 387px;
    background-image: url(../assets/img/bitcoinbaby2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.img-conocelohoy-container h2{  
    font-size: 2.4rem;
    font-weight: bold;
    padding-top: 60px;
    font-family: "DM Sans";
    color: var(--just-white);
}
.main-plans-container{
    width: 100%;
    min-width: 320px;
    text-align: center;
    background-color: var(--oft-white);
    padding-bottom: 64px;
    padding-top: 34px;
}
.plans-container--slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 190px;
    min-width: 190px;
    height: 257px;
    margin: 0 10px;
    background-color: var(--just-white);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    margin-top: 50px;
}
.plans-container--card .recommended{
    position: absolute;
    top: -15px;
    left: calc(50% - 50px);
    width: 100px;
    padding: 8px;
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    color: var(--just-white);
    background-color: var(--bitconin-orange);
    border-radius: 8px;
}
.plans-container--card h3{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding-top: 31px;
    margin-bottom: 8px;
}
.plans-container--card-price{
    font-size: 5.2rem;
    font-family: "Inter";
    font-weight: bold;
    line-height: 6.3rem;
    margin-bottom: 16px;
}
.plans-container--card-saving{
    font-size: 1.2rem;
    font-family: "Inter";
    font-weight: normal;
    line-height: 1.5rem;
    margin-bottom: 16px;
    padding: 0 16px;
    color: #757575;
}
.plans-container--card button{
    padding: 15px;
    font-size: 1.4rem;
    font-weight: 700;
    border: var(--bitconin-orange) 2px solid;
    border-radius: 4px;
    margin-bottom: 24px;
}
.logo-dolar{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}
.arrow{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    background-image: url(../assets/icons/orange-right-arrow.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitconin-orange);
}
footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .container-redes ul{
    font-size: 1.4rem;  
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.container-redes li{
    margin: 10px 0;
}
.container-redes a{
    text-decoration: none;
    color: var(--just-white);
}